@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

img{
    width:100%;
    object-fit:contain;
}

html {
    scroll-behavior: smooth;
}



.section__image__container_terminal {
    display: flex;

    margin-left: auto;
    margin-right: auto;
 
}

.section__image__container_forward {
    display: flex;


    margin-left: auto;
    margin-right: auto;

}
.section__image__container_reverse {
    display: flex;

    margin-left: auto;
    margin-right: auto;
 
}

.section__image__container {
    display: flex;
    margin-left: auto;
    margin-right: auto;

}

.rounded-image{
    border-radius: 1rem;
}

#headers{
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 5rem;
}

#headers h1{
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.explanation {
    
    padding: 20px;
}

#link{
    position: relative;
}

.link_container{
    display:flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

